[Unit]
Description=Inscription Microservice FastAPI
After=network.target

[Service]
Type=notify
User=root
Group=root
WorkingDirectory=/root/microservicio_inscripcion
Environment=PATH=/root/microservicio_inscripcion/.venv/bin
EnvironmentFile=/root/microservicio_inscripcion/.env
ExecStart=/root/microservicio_inscripcion/.venv/bin/gunicorn app.main_sync:app -w 4 -k uvicorn.workers.UvicornWorker --bind 0.0.0.0:8000 --timeout 120
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target